==
<footer id="footer" role="contentinfo">
  <section class="section swatch-green-white has-top">
    <div class="decor-top"> <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
      </svg> </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div id="swatch_social-2" class="sidebar-widget  widget_swatch_social">
            <ul class="unstyled inline small-screen-center social-icons social-background social-big">
              <li> <a target="_blank" href="http://www.oxygenna.com"> <i class="fa fa-facebook"></i> </a> </li>
              <li> <a target="_blank" href="http://www.oxygenna.com"> <i class="fa fa-twitter"></i> </a> </li>
              <li> <a target="_blank" href="http://www.oxygenna.com"> <i class="fa fa-google-plus"></i> </a> </li>
            </ul>
          </div>
          <div id="text-4" class="sidebar-widget widget_text">
            <div class="textwidget">ANGLE 2014 ALL RIGHTS RESERVED </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>