[viewBag]
==
<!--google map section -->
      <section class="section swatch-white-green section-nopadding">
        <div class="container-fullwidth">
          <div class="row">
            <div class="col-md-12">
              <div class="google-map" id="map"></div>
            </div>
          </div>
        </div>
      </section>
    <!--google map section -->