description = "head css styles icons etc"
==
<link rel="icon" type="image/x-icon" href="{{'assets/images/favicons/favicon.ico '| theme}}" />
<link rel="icon" type="image/png" href="{{'assets/images/favicons/favicon.png'|theme}}" />
<!-- For iPhone 4 Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{'assets/images/favicons/apple-touch-icon-114x114-precomposed.png'|theme}}">
<!-- For iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{'assets/images/favicons/apple-touch-icon-72x72-precomposed.png'|theme}}">
<!-- For iPhone: -->
<link rel="apple-touch-icon-precomposed" href="{{'assets/images/favicons/apple-touch-icon-60x60-precomposed.png'|theme}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{'assets/css/bootstrap.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/theme.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/color-defaults.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-beige-black.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-black-beige.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-black-white.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-black-yellow.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-blue-white.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-green-white.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-red-white.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-white-black.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-white-blue.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-white-green.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-white-red.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/swatch-yellow-black.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/fonts.min.css'|theme}}" media="screen">
<link rel="stylesheet" href="{{'assets/css/revolution.min.css'|theme}}" media="screen">
<link href="{{'assets/css/revolution.css'|theme}}" media="screen" rel="stylesheet" type="text/css" />