==
<section class="section swatch-green-white has-top">
  <div class="decor-top"> <svg class="decor hidden-xs hidden-sm" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 100 L2 60 L4 100 L6 60 L8 100 L10 60 L12 100 L14 60 L16 100 L18 60 L20 100 L22 60 L24 100 L26 60 L28 100 L30 60 L32 100 L34 60 L36 100 L38 60 L40 100 L42 60 L44 100 L46 60 L48 100 L50 60 L52 100 L54 60 L56 100 L58 60 L60 100 L62 60 L64 100 L66 60 L68 100 L70 60 L72 100 L74 60 L76 100 L78 60 L80 100 L82 60 L84 100 L86 60 L88 100 L90 60 L92 100 L94 60 L96 100 L98 60 L100 100 Z"
                        stroke-width="0"></path>
    </svg> <svg class="decor visible-xs visible-sm" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 100 L5 60 L10 100 L5 60 L10 100 L15 60 L20 100 L25 60 L30 100 L35 60 L40 100 L45 60 L50 100 L55 60 L60 100 L65 60 L70 100 L75 60 L80 100 L85 60 L90 100 L95 60 L100 100" stroke-width="0"></path>
    </svg> </div>
  <div class="container">
    <header class="section-header ">
      <h1 class="headline super hairline">Our Clients</h1>
    </header>
    <div class="row">
      <div id="slider-flex2" class="flexslider os-animation" data-flex-speed="7000" data-flex-itemwidth="235pxpx" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions="show" data-flex-controlsalign="center" data-flex-captionhorizontal=""
                        data-flex-captionvertical="" data-flex-controlsposition="" data-flex-directions-type="">
        <ul class="slides">
          <li>
            <figure> <img src="{{'assets/images/design/clients/client1.png'|theme}}" alt="" data-original-title="RocketPunch" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure> <img src="{{'assets/images/design/clients/client2.png'|theme}}" alt="some alt" data-original-title="ThemeArt" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure> <img src="{{'assets/images/design/clients/client3.png'|theme}}" alt="some alt" data-original-title="Showbiz" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure> <img src="{{'assets/images/design/clients/client4.png'|theme}}" alt="some alt" data-original-title="Nut Themes" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure> <img src="{{'assets/images/design/clients/client5.png'|theme}}" alt="some alt" data-original-title="Glory Themes" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure> <img src="{{'assets/images/design/clients/client6.png'|theme}}" alt="some alt" data-original-title="Guitar Plants" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure> <img src="{{'assets/images/design/clients/client7.png'|theme}}" alt="some alt" data-original-title="Ninja Turtle" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure> <img src="{{'assets/images/design/clients/client1.png'|theme}}" alt="some alt" data-original-title="EA Shorts" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure> <img src="{{'assets/images/design/clients/client2.png'|theme}}" alt="some alt" data-original-title="Hover On" data-toggle="tooltip">
              <figcaption>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>