description = "under feature service page"
==
<section class="section swatch-white-green">
  <div class="container">
    <header class="section-header text-center underline">
      <h1 class="headline super hairline">服务类型</h1>
      <p class=""></p>
    </header>
    <div class="row">
      <ul class="list-unstyled row box-list ">
        <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
          <div class="box-round box-medium">
            <div class="box-dummy"></div>
            <a class="box-inner " href="single-service.html"> <i class="fa fa-android" data-animation="bounce"></i> </a> </div>
          <h3 class="text-center "> <a href="single-service.html"> 网页设计及开发 </a> </h3>
          <p class="text-center">利用先进的科技以及精准的品牌设计为你的公司加分</p>
        </li>
        <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
          <div class="box-round box-medium">
            <div class="box-dummy"></div>
            <a class="box-inner " href="single-service.html"> <i class="fa fa-html5" data-animation="swing"></i> </a> </div>
          <h3 class="text-center "> <a href="single-service.html"> 网页应用开发 </a> </h3>
          <p class="text-center">利用先进的技术提高公司的效率和管理，例如ERP或者简单的库存管理、订单管理</p>
        </li>
        <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
          <div class="box-round box-medium">
            <div class="box-dummy"></div>
            <a class="box-inner " href="single-service.html"> <i class="fa fa-css3" data-animation="shake"></i> </a> </div>
          <h3 class="text-center "> <a href="single-service.html"> SEO搜索优化 </a> </h3>
          <p class="text-center">提高网页在谷歌搜索的自然排名，提升知名度和点击率， 增加对潜力客户的曝光度。</p>
        </li>
        <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
          <div class="box-round box-medium">
            <div class="box-dummy"></div>
            <a class="box-inner " href="single-service.html"> <i class="fa fa-heart" data-animation="tada"></i> </a> </div>
          <h3 class="text-center "> <a href="single-service.html"> 响应式页面开发 </a> </h3>
          <p class="text-center">我们可以让您的网站兼容所有移动设备，例如Android Phone、iPhone、iPad、台式电脑及笔记本电脑</p>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul class="list-unstyled row box-list ">
        <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
          <div class="box-round box-medium">
            <div class="box-dummy"></div>
            <a class="box-inner " href="single-service.html"> <i class="fa fa-android" data-animation="bounce"></i> </a> </div>
          <h3 class="text-center "> <a href="single-service.html"> 平面设计 </a> </h3>
          <p class="text-center">提供网页设计、Logo设计、海报设计、宣传册设计。精准的配对，高质量的设计。我们的设计师为您的品牌推广把关。</p>
        </li>
        <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
          <div class="box-round box-medium">
            <div class="box-dummy"></div>
            <a class="box-inner " href="single-service.html"> <i class="fa fa-html5" data-animation="swing"></i> </a> </div>
          <h3 class="text-center "> <a href="single-service.html"> 微信平台开发 </a> </h3>
          <p class="text-center">我们根据您的需求对微信公众平台做二次开发。您知道吗？其实微信平台不仅仅可以发表文章。</p>
        </li>
        <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
          <div class="box-round box-medium">
            <div class="box-dummy"></div>
            <a class="box-inner " href="single-service.html"> <i class="fa fa-css3" data-animation="shake"></i> </a> </div>
          <h3 class="text-center "> <a href="single-service.html"> 微信推广 </a> </h3>
          <p class="text-center">低成本高回报的推广方式，通过微信开启中国市场，将产品推广给八亿微信用户。</p>
        </li>
        <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
          <div class="box-round box-medium">
            <div class="box-dummy"></div>
            <a class="box-inner " href="single-service.html"> <i class="fa fa-heart" data-animation="tada"></i> </a> </div>
          <h3 class="text-center "> <a href="single-service.html"> APP 封装开发 </a> </h3>
          <p class="text-center">我们可以把您现有的网站重新编辑，封装成手机软件APP，在APP Store和Google Play提供下载</p>
        </li>
      </ul>
    </div>
  </div>
</section>