[viewBag]
==
<header id="masthead" class="navbar navbar-sticky swatch-green-white" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="{{ 'home'|page}}" class="navbar-brand"> <img src="{{'assets/images/logo.png'|theme}}" alt="Web Development">MultiViews Australia </a> </div>
    <nav class="collapse navbar-collapse main-navbar" role="navigation">
      <div class="sidebar-widget widget_search pull-right">
        <form>
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Search here....">
            <span class="input-group-btn">
            <button class="btn" type="submit"> <i class="fa fa-search"></i> </button>
            </span> </div>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown {% if this.page.id == 'home' %}active{% endif %}"> <a href="{{ 'home'|page}}" class="dropdown-toggle">主页</a> </li>
        <li class="dropdown {% if this.page.id == 'about-us' %}active{% endif %}"> <a href="{{ 'about-us'|page}}" class="dropdown-toggle" >关于我们</a> </li>
        <li class="dropdown {% if this.page.id == 'feature_services' %}active{% endif %}"> <a href="{{ 'feature_services'|page}}" class="dropdown-toggle">服务类型</a> </li>
        <li class="dropdown {% if this.page.id == 'portfolio' %}active{% endif %}"> <a href="{{ 'portfolio'|page}}" class="dropdown-toggle">作品展示</a> </li>
        <li class="dropdown {% if this.page.id == 'contact-us' %}active{% endif %}"> <a href="{{ 'contact-us'|page}}" class="dropdown-toggle">联系我们</a> </li>
        <li class="dropdown"> <a href="contact-alt.html" class="dropdown-toggle" data-toggle="dropdown">免费应用</a>
          <ul class="dropdown-menu">
            <li><a href="contact.html">在线生成Invoice</a> </li>
          </ul>
      </ul>
    </nav>
  </div>
</header>