description = "under portforlio, portfolio section"
==
<section class="section swatch-green-white">
  <div class="container">
    <header class="section-header text-center underline">
      <h1 class="headline hyper hairline">Our Work</h1>
    </header>
    <div class="row">
      <div class="text-default os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
        <ul class="isotope-filters text-center">
          <li class="active"> <a class="pseudo-border active" data-filter="*" href="#"> 所有展示 </a> </li>
          <li> <a class="pseudo-border" data-filter=".filter-website" href="#">网页开发</a> </li>
          <li> <a class="pseudo-border" data-filter=".filter-design" href="#">平面设计</a> </li>
          <li> <a class="pseudo-border" data-filter=".filter-app" href="#">APP开发</a> </li>
        </ul>
        <div class="portfolio isotope  no-transition portfolio-round portfolio-shadows row">
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-website">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/ciccio.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Gallery items </a> </h4>
                <p>You think water moves fast? You should see ice.</p>
                <a class="magnific-gallery image-all more" title="" href="" data-links="
    
        assets/images/design/vector/img-4-1200x600.png ,
    
        assets/images/design/vector/img-3-1200x600.png
    " data-prev-text="Previous" data-next-text="Next"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-website">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-website">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/batteryguru.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Integer sollicibulum </a> </h4>
                <p>After the avalanche it took us a week to climb out.</p>
                <a class="magnific image-all more" href="{{'assets/images/design/vector/batteryguru.png'|theme}}" title="Quisque porta" data-prev-text="Previous" data-next-text="Next"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-website">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/glendental.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Quisque porta </a> </h4>
                <p>I was living in his world, a world where chaos rules not order.</p>
                <a class="magnific image-all more" href="{{'assets/images/design/vector/glendental.png'|theme}}" title="Quisque porta" data-prev-text="Previous" data-next-text="Next"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-website">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/rapidauto.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/rapidauto.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-website">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/sportspass.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Quisque porta </a> </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a class="magnific image-all more" href="{{'assets/images/design/vector/img-3-1200x600.png'|theme}}" title="Quisque porta" data-prev-text="Previous" data-next-text="Next"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section END--> 
          
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section END--> 
          
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section END--> 
          
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section END--> 
          
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section END--> 
          
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section END--> 
          
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section END--> 
          
          <!-- one portfolio display section START-->
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <img width="600" height="518" src="{{'assets/images/design/vector/yhipower.png'|theme}}" class="img-responsive" alt="some image"> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <!-- one portfolio display section END--> 
          
        </div>
      </div>
    </div>
  </div>
</section>