==
<section class="section swatch-green-white has-top">
  <div class="decor-top"> <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="https://www.w3.org/2000/svg">
    <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
    </svg> </div>
  <div class="container">
    <header class="section-header text-center underline">
      <h1 class="headline super hairline">作品展示</h1>
    </header>
    <div class="row">
      <div class="text-default os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
        <ul class="isotope-filters text-center">
          <li class="active"> <a class="pseudo-border active" data-filter="*" href="#"> all </a> </li>
          <li> <a class="pseudo-border" data-filter=".filter-gallery" href="#">gallery</a> </li>
          <li> <a class="pseudo-border" data-filter=".filter-image" href="#">image</a> </li>
          <li> <a class="pseudo-border" data-filter=".filter-video" href="#">video</a> </li>
        </ul>
        <div class="portfolio isotope  no-transition portfolio-hex portfolio-shadows row">
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-gallery filter-image">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/img-8-600x518.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Gallery items </a> </h4>
                <p>You think water moves fast? You should see ice.</p>
                <a class="magnific-gallery image-all more" title="" href="" data-links="
    
        {{'assets/images/design/vector/img-4-1200x600.png'|theme}} ,
    
        {{'assets/images/design/vector/img-3-1200x600.png'|theme}}
    " data-prev-text="Previous" data-next-text="Next"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/img-4-600x518.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Vimeo Item </a> </h4>
                <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
                <a class="magnific-vimeo image-all more" href="https://vimeo.com/41336551"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video filter-image">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/img-1-600x518.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Integer sollicibulum </a> </h4>
                <p>After the avalanche it took us a week to climb out.</p>
                <a class="magnific image-all more" href="{{'assets/images/design/vector/img-1-1200x600.png'|theme}}" title="Quisque porta" data-prev-text="Previous" data-next-text="Next"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video filter-image filter-gallery">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/img-5-600x518.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Quisque porta </a> </h4>
                <p>I was living in his world, a world where chaos rules not order.</p>
                <a class="magnific image-all more" href="{{'assets/images/design/vector/img-5-1200x600.png'|theme}}" title="Quisque porta" data-prev-text="Previous" data-next-text="Next"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-video">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/img-2-600x518.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Youtube video </a> </h4>
                <p>You think water moves fast? You should see ice.</p>
                <a class="magnific-vimeo image-all more" href="https://www.youtube.com/watch?v=Sv3xVOs7_No"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
          <div class="portfolio-item infinite-item col-md-4 col-sm-4 filter-image filter-gallery">
            <figure class="portfolio-figure"> <a href="portfolio-item-big.html"> <img width="600" height="518" src="{{'assets/images/design/vector/img-3-600x518.png'|theme}}" class="img-responsive" alt="some image"> </a>
              <figcaption>
                <h4> <a href="portfolio-item-big.html"> Quisque porta </a> </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a class="magnific image-all more" href="{{'assets/images/design/vector/img-3-1200x600.png'|theme}}" title="Quisque porta" data-prev-text="Previous" data-next-text="Next"> <i class="fa fa-search-plus"></i> </a> <a class="link" href="portfolio-item-big.html"> <i class="fa fa-link"></i> </a> </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>