description = "price under feature service"
==
<section class="section swatch-green-white">
  <div class="container">
    <header class="section-header underline text-center">
      <h1 class="headline hyper hairline">Pricing options</h1>
    </header>
    <div class="row">
      <div class="col-md-4  text-default">
        <div class="pricing-col 
        ">
          <h2 class="pricing-head">Standard</h2>
          <div class="pricing-body">
            <div class="pricing-price">
              <div class="overlay">
                <h4> <small>$</small> 10 <small>month</small> </h4>
              </div>
            </div>
            <ul class="pricing-list">
              <li>1 project</li>
              <li>5 GB Storage</li>
              <li>5 Users</li>
              <li>5 GB Bandwidth</li>
            </ul>
            <a href="#" class="btn btn-lg btn-primary">Sign Up</a> </div>
        </div>
      </div>
      <div class="col-md-4  text-default">
        <div class="pricing-col pricing-featured">
          <h2 class="pricing-head">Personal</h2>
          <div class="pricing-body">
            <div class="pricing-price">
              <div class="overlay">
                <h4> <small>$</small> 19 <small>month</small> </h4>
              </div>
            </div>
            <ul class="pricing-list">
              <li>5 project</li>
              <li>50 GB Storage</li>
              <li>50 Users</li>
              <li>50 GB Bandwidth</li>
            </ul>
            <a href="#" class="btn btn-lg btn-primary">Sign Up</a> </div>
        </div>
      </div>
      <div class="col-md-4  text-default">
        <div class="pricing-col 
        ">
          <h2 class="pricing-head">Advanced</h2>
          <div class="pricing-body">
            <div class="pricing-price">
              <div class="overlay">
                <h4> <small>$</small> 99 <small>month</small> </h4>
              </div>
            </div>
            <ul class="pricing-list">
              <li>1 project</li>
              <li>100 GB Storage</li>
              <li>80 Users</li>
              <li>120 GB Bandwidth</li>
            </ul>
            <a href="#" class="btn btn-lg btn-primary">Sign Up</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>