description = "servicepage"
==
<section class="section swatch-green-white">
  <div class="container">
    <header class="section-header no-underline">
      <h1 class="headline hyper hairline">How we work</h1>
    </header>
  </div>
</section>
<section class="section swatch-green-white has-top">
  <div class="decor-top"> <svg class="decor" height="60px" preserveaspectratio="none" style="height: 60px !important;" version="1.1" viewbox="0 0 100 100" width="60px" xmlns="https://www.w3.org/2000/svg">
    <path d="M50 0 L50 100" stroke-width="1"></path>
    <path d="M0 50 L100 50" stroke-width="1"></path>
    </svg> </div>
  <div class="container">
    <header class="section-header text-center underline">
      <h1 class="headline super hairline">我们的工作流程</h1>
    </header>
    <div class="row">
      <div class="col-md-12  text-default">
        <ul class="list-unstyled vertical-icon-border box-list">
          <li class="row">
            <div class="col-md-3">
              <div class="box-round">
                <div class="box-dummy"></div>
                <a class="box-inner " href="single-service.html"> <i class="fa fa-lightbulb-o" data-animation="tada"></i> </a> </div>
            </div>
            <div class="col-md-9">
              <h2 class="bordered-header small-screen-center">一起思考</h2>
              <p class="text-left"> 我们客户经常有非常独特的想法，我们MultiViews从技术角度出发和客户一起思考如何通过这个项目将用户的品牌利益最大化。不管是大企业还是小公司，我们重视每一个客户，我们期待我们的服务能够带来用户公司利益及规模的增长。 </p>
            </div>
          </li>
          <li class="row">
            <div class="col-md-3">
              <div class="box-round">
                <div class="box-dummy"></div>
                <a class="box-inner " href="single-service.html"> <i class="fa fa-cog" data-animation="tada"></i> </a> </div>
            </div>
            <div class="col-md-9">
              <h2 class="bordered-header small-screen-center">一起分析</h2>
              <p class="text-left"> 当我们的客户有独特的想法而且想要实现这个想法的时候，我们MultiViews也会从技术角度出发，和用户一起分析这个项目的技术难度和用户需求。把每一项客户的要求落实为具体的项目步骤，最后会将用户需求变成一份清单。完美的用户的体验是我们的追求，我们致力于与客户一起努力将项目的潜力最大化。 </p>
            </div>
          </li>
          <li class="row">
            <div class="col-md-3">
              <div class="box-round">
                <div class="box-dummy"></div>
                <a class="box-inner " href="single-service.html"> <i class="fa fa-wrench" data-animation="tada"></i> </a> </div>
            </div>
            <div class="col-md-9">
              <h2 class="bordered-header small-screen-center">代码开发</h2>
              <p class="text-left"> 我们专业的工程师用最先进的网页技术带给你世界规范级别的代码。我们从来不只是为了表面现象而写代码，我们为使用的功能、最佳的检索、和最完整的解决方案而写代码。我们的工程师有着“工匠精神”不为写代码而写代码，而是为了最好的产品而写代码。“严谨”、“细致”，是我们的座右铭。 </p>
            </div>
          </li>
          <li class="row">
            <div class="col-md-3">
              <div class="box-round">
                <div class="box-dummy"></div>
                <a class="box-inner " href="single-service.html"> <i class="fa fa-rocket" data-animation="tada"></i> </a> </div>
            </div>
            <div class="col-md-9">
              <h2 class="bordered-header small-screen-center">一起发布</h2>
              <p class="text-left"> MultiViews 期待与客户一起发布我们参与的产品。MultiViews 认为没有比这个更值得骄傲的了。 </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>