description = "under feature service"
==
<section class="section swatch-green-white has-top">
  <div class="decor-top"> <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="https://www.w3.org/2000/svg">
    <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
    </svg> </div>
  <div class="container">
    <header class="section-header underline">
      <h1 class="headline super hairline">项目比例</h1>
    </header>
    <div class="row">
      <div class="col-md-3  text-center">
        <div class="chart easyPieChart" data-track-color="#e2d9d8" data-bar-color="#dd3333" data-line-width="20" data-percent="60" data-size="200"> <span>60</span> <i class="fa fa-css3"></i> </div>
        <h3 class="margin-top">技术开发</h3>
        <p> 技术开发包括：网页开发、APP封装开发、网页应用开发、以及微信公众平台二次开发。 </p>
      </div>
      <div class="col-md-3  text-center">
        <div class="chart easyPieChart" data-track-color="#e2d9d8" data-bar-color="#dd3333" data-line-width="20" data-percent="15" data-size="200"> <span>20</span> <i class="fa fa-html5"></i> </div>
        <h3 class="margin-top"> 微信推广 </h3>
        <p> 微信推广包括：软文广告、文章banner 广告、平台互推、活动推广、公众平台托管。 </p>
      </div>
      <div class="col-md-3  text-center">
        <div class="chart easyPieChart" data-track-color="#e2d9d8" data-bar-color="#dd3333" data-line-width="20" data-percent="20" data-size="200"> <span>20</span> <i class="fa fa-gamepad"></i> </div>
        <h3 class="margin-top"> SEO 推广 </h3>
        <p> SEO 推广包括：网站SEO优化、內链外链设置开发、Adword投放、facebook twitter instagram英文社交媒体托管。 </p>
      </div>
      <div class="col-md-3  text-center">
        <div class="chart easyPieChart" data-track-color="#e2d9d8" data-bar-color="#dd3333" data-line-width="20" data-percent="5" data-size="200"> <span>50</span> <i class="fa fa-coffee"></i> </div>
        <h3 class="margin-top"> 平面设计 </h3>
        <p> 平面设计包括：网页设计、Logo设计、海报设计、宣传册设计。 </p>
      </div>
    </div>
  </div>
</section>