==
<section class="section swatch-white-green has-top">
  <div class="decor-top"> <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="https://www.w3.org/2000/svg">
    <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
    </svg> </div>
  <div class="container">
    <header class="section-header ">
      <h1 class="headline super hairline">谈谈你的idea?</h1>
      <p class="">He&#x27;s the exact opposite of the hero. And most times they&#x27;re friends, like you and me! I should&#x27;ve known way back when... You know why, David? Because of the kids. They called me Mr Glass.</p>
    </header>
    <div class="text-center"> <a class="btn btn-primary btn-lg btn-icon-right pull-center" href="#"> Lets make it happen
      <div class="hex-alt hex-alt-big"> <i class="fa fa-rocket" data-animation="tada"></i> </div>
      </a> </div>
  </div>
</section>