==
<section class="section swatch-green-white section-nopadding">
  <div class="container-fullwidth">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="tp-banner-container">
          <div class="tp-banner">
            <ul style="display:none;">
              <li data-transition="fade" data-slotamount="4">
                <div class="tp-caption sfl" data-x="80" data-y="70" data-speed="800" data-start="900" data-easing="easeInBack"> <img src="{{'assets/images/design/revolution/slide-1-dev-2.png'|theme}}"> </div>
                <div class="tp-caption sfr" data-x="120" data-y="70" data-speed="800" data-start="1500" data-easing="easeInBack"> <img src="{{'assets/images/design/revolution/slide-1-dev-3.png'|theme}}"> </div>
                <div class="tp-caption sfb" data-x="100" data-y="60" data-speed="1200" data-start="2000" data-easing="easeInBack"> <img src="{{'assets/images/design/revolution/slide-1-dev-center.png'|theme}}"> </div>
                <div class="tp-caption sfl super light" data-x="0" data-y="180" data-speed="1200" data-start="1800" data-easing="easeInBack"> Flexible & Responsive </div>
                <div class="tp-caption sfl super light" data-x="50" data-y="230" data-speed="1200" data-start="2100" data-easing="easeInBack"> create your website </div>
                <div class="tp-caption sfl  super light" data-x="267" data-y="280" data-speed="1200" data-start="2400" data-easing="easeInBack"> with a style </div>
              </li>
              <li data-transition="boxslide" data-slotamount="4">
                <div class="caption sfl" data-x="80" data-y="40" data-speed="600" data-start="1500" data-easing="easeInBack"> <img src="{{'assets/images/design/revolution/slide-2-dev-2.png'|theme}}"> </div>
                <div class="caption sfr" data-x="-100" data-y="40" data-speed="600" data-start="2000" data-easing="easeInBack"> <img src="{{'assets/images/design/revolution/slide-2-dev-3.png'|theme}}"> </div>
                <div class="caption lfb fadeout" data-x="45" data-y="55" data-speed="1000" data-endspeed="1200" data-start="3500" d data-easing="easeInBack"> <img src="{{'assets/images/design/revolution/slide-2-dev-center.png'|theme}}"> </div>
                <div class="caption fade" data-x="-8" data-y="20" data-speed="300" data-start="6000" data-easing="Power4.easeOutCubic"> <img src="{{'assets/images/design/revolution/slide-2-dev-center-big.png'|theme}}"> </div>
                <div class="caption sfb stt super light" data-x="750" data-y="180" data-speed="400" data-endspeed="400" data-start="2000" data-end="4000" data-easing="easeInBack"> hi there </div>
                <div class="caption sfb stt super light" data-x="750" data-y="180" data-speed="400" data-endspeed="400" data-start="4000" data-end="5500" data-easing="easeInBack"> this is Angle </div>
                <div class="caption sfb stt super light" data-x="750" data-y="130" data-speed="400" data-start="5500" data-easing="easeInBack"> the most </div>
                <div class="caption sfb stt super light" data-x="750" data-y="200" data-speed="400" data-start="5700" data-easing="easeInBack"> advanced theme </div>
                <div class="caption sfb stt super light" data-x="750" data-y="270" data-speed="400" data-start="5900" data-easing="easeInBack"> we've ever made </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>