description = "under about us page skillset pie chart"
==
<section class="section swatch-white-green has-top">
  <div class="decor-top"> <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="https://www.w3.org/2000/svg">
    <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
    </svg> </div>
  <div class="container">
    <header class="section-header underline">
      <h1 class="headline super hairline">关于MultiViews</h1>
      <p class="">MultiViews Australia是一家成立于墨尔本的<strong>网页媒体科技公司。</strong><br>
        我们专注于网页媒体的技术开发、网站设计、平面设计、以及微信平台的二次开发及推广。<br>
        MultiViews致力于完美的用户体验，努力将我们的服务做到极致。</p>
    </header>
    <div class="row">
      <div class="col-md-6">
        <h3 style= "text-align: center">网页应用开发</h3>
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar  progress-bar-info progress-bar-striped active" role="progressbar" style="width: 30%;">客户交流</div>
        </div>
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar  progress-bar-success progress-bar-striped active" role="progressbar" style="width: 50%">需求分析</div>
        </div>
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 100%">代码工作</div>
        </div>
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" class="progress-bar  progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 20%">培训</div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 style= "text-align: center">现有项目数量</h3>
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar  progress-bar-info progress-bar-striped active" role="progressbar" style="width: 40%;">SEO</div>
        </div>
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="200" class="progress-bar  progress-bar-success progress-bar-striped active" role="progressbar" style="width: 100%">应用开发</div>
        </div>
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 40%">微信推广</div>
        </div>
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" class="progress-bar  progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 20%">平面设计</div>
        </div>
      </div>
    </div>
  </div>
</section>