description = "home page key role"
==
<section class="section swatch-white-green has-top has-bottom">
  <div class="decor-top"> <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="https://www.w3.org/2000/svg">
    <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
    </svg> </div>
  <div class="container">
    <header class="section-header underline">
      <h1 class="headline super hairline">精英团队</h1>
    </header>
    <div class="row">
      <ul class="list-unstyled row box-list">
        <li class="col-md-4 os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
          <div class="box-hex flat-shadow box-big">
            <div class="box-dummy"></div>
            <figure class="box-inner "> <img class="svg-inject" src="{{'assets/images/design/people/man-1-600x518.png'|theme}}" alt="a man with a mustache" />
              <figcaption class="box-caption">
                <h4>Likes</h4>
                <p>Coffee and Beer</p>
              </figcaption>
            </figure>
          </div>
          <h3 class="text-center"> <a href="about-me.html"> Zhaojin Liu </a> <small class="block">Managing Director</small> </h3>
          <p class="text-center "> </p>
          <ul class="list-inline text-center social-icons social-simple">
            <li> <a href="about-me.html" target="_self"> <i class="fa fa-facebook"></i> </a> </li>
            <li> <a href="about-me.html" target="_self"> <i class="fa fa-twitter"></i> </a> </li>
          </ul>
        </li>
        <li class="col-md-4 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
          <div class="box-hex flat-shadow box-big">
            <div class="box-dummy"></div>
            <figure class="box-inner "> <img class="svg-inject" src="{{'assets/images/design/people/woman-1-600x518.png'|theme}}" alt="a woman" />
              <figcaption class="box-caption">
                <h4>Says</h4>
                <p>I like ancient stuff</p>
              </figcaption>
            </figure>
          </div>
          <h3 class="text-center"> <a href="about-me.html"> Jason Liam </a> <small class="block">Head Web Developer</small> </h3>
          <p class="text-center "></p>
          <ul class="list-inline text-center social-icons social-simple">
            <li> <a href="about-me.html" target="_self"> <i class="fa fa-pinterest"></i> </a> </li>
            <li> <a href="about-me.html" target="_self"> <i class="fa fa-instagram"></i> </a> </li>
          </ul>
        </li>
        <li class="col-md-4 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
          <div class="box-hex flat-shadow box-big">
            <div class="box-dummy"></div>
            <figure class="box-inner "> <img class="svg-inject" src="{{'assets/images/design/people/man-2-600x518.png'|theme}}" alt="man" />
              <figcaption class="box-caption">
                <h4>Moto</h4>
                <p>Live and let die</p>
              </figcaption>
            </figure>
          </div>
          <h3 class="text-center"> <a href="about-me.html"> Fan Hsia </a> <small class="block">Head Designer</small> </h3>
          <p class="text-center "></p>
          <ul class="list-inline text-center social-icons social-simple">
            <li> <a href="about-me.html" target="_self"> <i class="fa fa-facebook-square"></i> </a> </li>
            <li> <a href="about-me.html" target="_self"> <i class="fa fa-dribbble"></i> </a> </li>
            <li> <a href="about-me.html" target="_self"> <i class="fa fa-google-plus-square"></i> </a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="decor-bottom"> <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="https://www.w3.org/2000/svg">
    <path d="M0 0 L50 100 L100 0" stroke-width="0"></path>
    </svg> </div>
</section>