==
<script src="{{'assets/js/packages.min.js'|theme}}"></script> 
<script src="{{'assets/js/theme.min.js'|theme}}"></script> 
<script src="{{'assets/js/tools.min.js'|theme}}"></script> 
<script src="{{'assets/js/revolution.min.js'|theme}}"></script> 
<script src="{{'assets/js/contact.min.js'|theme}}"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgJkFQ32vGpmZm2kRkJ8PhXR4yhcIp0aU"></script> 
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgJkFQ32vGpmZm2kRkJ8PhXR4yhcIp0aU&callback=initMap"type="text/javascript"></script> --> 
<script src="{{'assets/js/map.js'|theme}}"></script> 
<script src="{{'assets/js/revolution.min.js'|theme}}"></script> 
<script src="{{'assets/js/tp-banner.js'|theme}}"></script>