<div class="ss-result">
    <h4 class="ss-result__title">
        {{ result.title | raw }}
        {% if __SELF__.showProviderBadge %}
        <span class="ss-result__badge">
            {{ result.provider }}
        </span>
        {% endif %}
    </h4>
    <p class="ss-result__text">
        {{ result.excerpt | raw }}
    </p>
    <p class="ss-result__url">
        <a href="{{ result.url }}" class="ss-result__link">{{ __SELF__.visitPageMessage }} &rarr;</a>
    </p>
</div>