==
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Homepage | Angle HTML</title>
{% partial "head" %}
</head>
<body class="pace-on pace-dot">
    
    {% partial "navigation" %}
    
    <div id="content" role="main"> 
        
        {% page %}
        
        {% partial "footer" %} 
    
    </div>

    {% partial "back-to-top" %}

{% partial "template-scripts" %}

{% framework %}
{% framework extras %}
</body>
</html>